<div class="alert alert-success" *ngIf='message' (click)='deleteMessage()' >{{message}} </div>

<div class="container mt-4" style="margin-bottom: 122px;">
    <table class="col-md-12 offset-md-0 table table-bodered table-hover" style="margin-bottom: 70px;">
        <thead class="thead" style="background-color: #4f4141; color: white; font-size: 18px;">
            <tr>
                <th>Contract Number</th>
                <th>Customer Id</th>
                <th>Product Id</th>
                <th>Quantity(in kg)</th>
                <th>Delivery Date</th>
                <th>Contract Status</th>
                <th>Contract Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let contract of contracts'>
                <td >{{contract.contractNo}}</td>
                <td>{{contract.customerId}}</td>
                <td>{{contract.productId}}</td>
                <td>{{contract.quantity}}</td>
                <td>{{contract.deliveryDate}}</td>
                <td>{{contract.contractStatus}}</td>
                <td>
                    <button class="btn btn-danger float-right" (click)='deleteContract(contract)'>Delete</button>
                    <br><br>
                    <button class="btn  float-right" (click)='updateContract(contract)' style="background-color: #474b4f; color: white;">Update</button>
                </td>
            </tr>
            
        </tbody>
    </table>
  
  
  </div>
