<div class="alert alert-success" *ngIf='message' (click)='deleteMessage()' >{{message}} </div>

<div class="container mt-4" style="margin-bottom: 265px;">
    <table class="col-md-10 offset-md-1 table table-bodered table-hover" style="margin-bottom: 70px;">
        <thead class="thead" style="background-color: #4f4141; color: white; font-size: 18px;">
            <tr>
                <th>Plot Number</th>
                <th>Acquired Date</th>
                <th>Location</th>
                <th>Land Value</th>
                <th>land Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let land of lands'>
                <td >{{land.plotNumber}}</td>
                <td>{{land.acquiredDate}}</td>
                <td>{{land.location}}</td>
                    <td>{{land.landValue}}</td>
                <td>
                    <button class="btn btn-danger" (click)='deleteLand(land)'>Delete</button>
                    <button class="btn  float-right" (click)='updateLand(land)' style="background-color: #474b4f; color: white;">Update</button>
                </td>
            </tr>
            
        </tbody>
    </table>
  
  
  </div>

