<div class="alert alert-danger" *ngIf='msg'>{{msg}}</div>
<div class="alert alert-success" *ngIf='successmsg'>{{successmsg}}</div>
<div class="col-md-4 offset-md-4 mt-4" style="margin-bottom: 30px;">
    <img class="mb-4" style="margin-left:80px;" src="https://cdn.pixabay.com/photo/2016/03/22/04/23/map-1272165_960_720.png" alt="" width="185" height="125">
    <form  #updateLandForm='ngForm' (ngSubmit)='updateLand(updateLandForm)'  class="form-signin"> 
        <h6 class="h3 mb-3 font-weight-normal">Update Plot Number : ({{plotNumber1}})</h6 >
        <input type="hidden" name='plotNumber' [(ngModel)]='plotNumber1' #plotNumber='ngModel' ngModel id="plotNumber" class="form-control" placeholder="Plot Number" required>
        
       <div class="form-group">
        <label for="acquiredDate">Acquired Date : </label>
        <input type="date" name='acquiredDate' [(ngModel)]='acquiredDate1' #acquiredDate='ngModel' ngModel id="acquiredDate" class="form-control" placeholder="Acquired Date">
       </div>
        

        <input type="hidden" name='location' [(ngModel)]='location1' #location='ngModel' ngModel id="location" class="form-control" placeholder="Location">
        
         <div class="form-group">
            <label for="landValue">Land Value : </label>
            <input type="text" name='landValue' [(ngModel)]='landValue1' #landValue='ngModel' ngModel id="landValue" class="form-control" placeholder="Land Value" required minlength="5" maxlength="10" pattern="[0-9]+">
            <div class="validationText" *ngIf='(landValue.dirty || landValue.touched) && landValue.invalid'>
                <div *ngIf='landValue.errors.required'>
                    *This field is mandatory
                </div>
                <div *ngIf='landValue.errors.minlength'>
                    *Minimum 5 digits required
                </div>
                <div *ngIf='landValue.errors.pattern'>
                    *only numbers are allowed
                </div>
            </div> 
        
        </div>

        <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Update Land Detail</button>
        
      </form>
</div>






