<header >
    <nav id="navbar">
    <ul>
<li>
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact-us">Contact Us</a>
    <!-- <a routerLink="/late-commers">Late Commers</a> -->
    <a routerLink="/product-component">Product table</a>
    <a routerLink="/card-component">Cards</a>
    <!-- <a routerLink="/bike-component">Bikes</a>
    <a routerLink="/parent-component">Parent</a> -->
    <!-- <a routerLink="/ car-component">Cars</a> -->
    <a id="right1" routerLink="/register">Register</a>
    <a id="right2" routerLink="/login">Login</a>
</li>    
</ul>
    </nav>

</header>