<div class="alert alert-danger" *ngIf='msg'>{{msg}}</div>
<div class="alert alert-success" *ngIf='successmsg'>{{successmsg}}</div>
<div class="col-md-4 offset-md-4 mt-4" style="margin-bottom: 70px;">
    <form  #editProductForm='ngForm' (ngSubmit)='updateTheProduct(editProductForm)'  class="form-signin"> 
        <img class="mb-4" style="margin-left:145px;" src="https://cdn.pixabay.com/photo/2015/12/23/01/14/edit-1105049_960_720.png" alt="" width="100" height="100">
        <h6 class="h3 mb-3 font-weight-normal">Update product No : ({{productId1}})</h6>
        <input type="hidden" name='productId' [(ngModel)]='productId1' #productId='ngModel' ngModel id="productId" class="form-control" placeholder="Product Id" required="" autofocus="">
        
        <div class="form-group">
          <label for="inputPassword" >Product Name</label>
          <input type="text" name='productName' #productName='ngModel'  ngModel [(ngModel)]='productName1' id="productName" class="form-control"
            placeholder="Product Name" pattern="^[a-zA-Z]+(?: [a-zA-Z]+)*$" minlength="2" maxlength="20" required>
          <div class="validationText" *ngIf='(productName.dirty || productName.touched) && productName.invalid'>
            <div *ngIf='productName.errors.required'>
              *This field is mandatory
            </div>
            <div *ngIf='productName.errors.minlength'>
              *minimum 2 letters mandatory
            </div>
            <div *ngIf='productName.errors.pattern'>
              *only alphabets are allowed
            </div>
          </div>
        </div>
        <br>   
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update Product</button>
        
      </form>
</div>




