<div class="alert alert-success" *ngIf='msg' style="font-size: 15px;">{{msg}}</div>
<div class="alert alert-success" *ngIf='successmsg'>{{successmsg}}</div>
<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="col-md-4 offset-md-4 mt-4" style="margin-bottom: 7px;">
    <form #singleContractForm='ngForm' (ngSubmit)='viewsingleContract(singleContractForm)' class="form-customer">
        <img class="mb-4" style="margin-left:145px;" src="https://cdn.pixabay.com/photo/2015/12/08/17/40/magnifying-glass-1083378_960_720.png" alt="" width="100" height="100">
        <h6 class="h3 mb-3 font-weight-normal">Search Contract :</h6>
        <input type="search" name='contractNo' #contractNo='ngModel' ngModel id="contractNo" class="form-control"
            placeholder="Contract Number" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Find Contract</button>

    </form>
</div>

<div class="container mt-4" style="margin-bottom: 100px;">
    <table class="col-md-12 offset-md-0 table table-bodered table-hover" style="margin-bottom: 70px;">
        <thead class="thead" style="background-color: #4f4141; color: white; font-size: 18px;">
            <tr>
                <th>Contract Number</th>
                <th>Customer Id</th>
                <th>Product Id</th>
                <th>Quantity(in kg)</th>
                <th>Delivery Date</th>
                <th>Contract Status</th>
                <th>Contract Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let contract of contracts'>
                <td >{{contract.contractNo}}</td>
                <td>{{contract.customerId}}</td>
                <td>{{contract.productId}}</td>
                <td>{{contract.quantity}}</td>
                <td>{{contract.deliveryDate}}</td>
                <td>{{contract.contractStatus}}</td>
                <td>
                    <button class="btn btn-danger float-right" (click)='deleteContract(contract)'>Delete</button>
                   <br>
                   <br>
                    <button class="btn  float-right" (click)='updateContract(contract)' style="background-color: #474b4f; color: white;">Update</button>
                </td>
            </tr>
            
        </tbody>
    </table>
  
  
  </div>


