<div class="alert alert-danger" *ngIf='msg'>{{msg}}</div>
<div class="col-md-4 offset-md-4 mt-4">
  <form #addProductForm='ngForm' (ngSubmit)='addTheProduct(addProductForm)' class="form-signin">
    <img class="mb-4" style="margin-left:145px;"
      src="https://cdn.pixabay.com/photo/2016/12/12/22/59/red-1902863_960_720.png" alt="" width="100" height="100">
    <h1 class="h3 mb-3 font-weight-normal">Add Product :</h1>

    <div class="form-group">
      <label for="inputEmail" >Product Id: </label>
      <input type="text" name='productId' #productId='ngModel' ngModel id="productId" class="form-control"
        placeholder="Product Id" required minlength="1" maxlength="10" pattern="[0-9]+">
      <div class="validationText" *ngIf='(productId.dirty || productId.touched) && productId.invalid'>
        <div *ngIf='productId.errors.required'>
          *This field is mandatory
        </div>
        <div *ngIf='productId.errors.minlength'>
          *minimum 1 number mandatory
        </div>
        <div *ngIf='productId.errors.pattern'>
          *only numbers are allowed
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword" >Product Name</label>
      <input type="text" name='productName' #productName='ngModel' ngModel id="productName" class="form-control"
        placeholder="Product Name" pattern="^[a-zA-Z]+(?: [a-zA-Z]+)*$" minlength="2" maxlength="20" required>
      <div class="validationText" *ngIf='(productName.dirty || productName.touched) && productName.invalid'>
        <div *ngIf='productName.errors.required'>
          *This field is mandatory
        </div>
        <div *ngIf='productName.errors.minlength'>
          *minimum 2 letters mandatory
        </div>
        <div *ngIf='productName.errors.pattern'>
          *only alphabets are allowed
        </div>
      </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Product</button>

  </form>
</div>