<div class="alert alert-danger" *ngIf='msg'>{{msg}}</div>
<div class="col-md-4 offset-md-4 mt-4">
    <form  #addProductForm='ngForm' (ngSubmit)='addTheProduct(addProductForm)'  class="form-signin"> 
        <img class="mb-4" style="margin-left:145px;" src="https://cdn.pixabay.com/photo/2016/12/12/22/59/red-1902863_960_720.png" alt="" width="100" height="100">
        <h1 class="h3 mb-3 font-weight-normal">Add Product    :</h1>
        <label for="inputEmail" class="sr-only">Product Id: </label>
        <input type="text" name='productId' #productId='ngModel' ngModel id="productId" class="form-control" placeholder="Product Id" required="" autofocus="">
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="text" name='productName' #productName='ngModel' ngModel id="productName" class="form-control" placeholder="Product Name" required="">
        <br>    
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Product</button>
        
      </form>
</div>



