<div class="col-md-4 offset-md-0 mt-4 mb-4" >
    <label for="" style="font-size: 32px; font-weight: bold;">Select your Choice :</label>
    <div>
        <a routerLink="/addCustomer">Add a Customer</a>
    </div>
   <div>
       <a routerLink="/client-other-customer-operation">Customer Operations</a>
   </div>
 
    <div>
     <a routerLink="/clientAddContract">Add a Contract</a>
 </div>
<div style="margin-bottom: 200px;">
    <a routerLink="/client-other-contract-operation">Schedule  Contract</a>
</div>
</div>

