<div class="alert alert-danger" *ngIf='msg' style="font-size: 20px;">{{msg}}</div>
        <div class="alert " style="background-color: darkgreen;" *ngIf='successmsg'>{{successmsg}}</div>
<div class="col-md-4 offset-md-4 mt-4" style="margin-bottom: 30px;">
    <form #editCustomerForm='ngForm' (ngSubmit)='updateCustomer(editCustomerForm)' class="form-customer">
        <h6 class="h3 mb-3 font-weight-normal">Update Customer Details :</h6>
        <input type="hidden" name='customerId' [(ngModel)]='customerId1' #customerId='ngModel' ngModel id="customerId" class="form-control"
            placeholder="Customer Id" required>
        <input type="hidden" name='customerName' [(ngModel)]='customerName1' #customerName='ngModel' ngModel id="customerName" class="form-control"
            placeholder="Customer Name" required>
        <label for="email">E-Mail : </label>
        <input type="email" name='email' #email='ngModel' [(ngModel)]='email1' ngModel id="email" class="form-control" placeholder="E-Mail">

        <label for="postalCode">Postal Code : </label>
        <input type="text" name='postalCode' [(ngModel)]='postalCode1' #postalCode='ngModel' ngModel id="postalCode" class="form-control"
            placeholder="Postal Code">

        <label for="streetAddress1">Street Address 1 : </label>
        <input type="text" name='streetAddress1' [(ngModel)]='streetAddress11' #streetAddress1='ngModel' ngModel id="streetAddress1"
            class="form-control" placeholder="Street Address 1">

        <label for="streetAddress2">Street Address 2 : </label>
        <input type="text" name='streetAddress2' [(ngModel)]='streetAddress21' #streetAddress2='ngModel' ngModel id="streetAddress2"
            class="form-control" placeholder="Street Address 2">

        <label for="telephoneNo">Telephone Number : </label>
        <input type="text" name='telephoneNo' [(ngModel)]='telephoneNo1' #telephoneNo='ngModel' ngModel id="telephoneNo"
            class="form-control" placeholder="Telephone Number">
        <label for="town">Town : </label>
        <input type="text" name='town' #town='ngModel' [(ngModel)]='town1' ngModel id="town"
            class="form-control" placeholder="Town">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update Customer</button>

    </form>
</div>
