<div class="card" style="height: 70px; width: 50%; margin-left: 320px; background-color: #644856; color: lavender;" *ngIf='adminMsg'>
    <div class="card-body">
        <h3 class="card-title" style="margin-left: 180px;">Welcome Admin !!</h3>
    </div>
</div>

<div class="col-md-4 offset-md-0 mt-4 mb-4" >
   

    <label for="" style="font-size: 25px; font-weight: bold;">Select your Choice :</label>
 <div>
     <a routerLink="/signup">Create an account</a>
 </div>
 <div>
    <a routerLink="/account-operation">Accounts Operation</a>
</div>
 <div>
    <a routerLink="/addContract">Add Contract</a>
</div>
<div>
    <a routerLink="/other-contract-operation">Contract Operations</a>
</div>
<div>
    <a routerLink="/addCustomer">Add customer</a>
</div>
<div>
    <a routerLink="/other-customer-operation">Customer operation</a>
</div>
<div>
    <a routerLink="/addProduct">Add product</a>
</div>
<div>
    <a routerLink="/other-product-operation">Product operation</a>
</div>
<div>
    <a routerLink="/addLand">Add Land</a>
</div>
<div style="margin-bottom: 12px;">
    <a routerLink="/other-land-operation">Land operation</a>
</div>
</div>