<nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto  mt-lg-0">
            <li class="nav-item"> <label for="" style="font-size: 20px; margin-left: 500px; font-style: italic;">
                 @2020 copyrights  :  all rights reserved </label>
                <br>
                <p>
                    In this website the forest business are maintained through the system. The order will be placed on
                    the system.
                    Admin will get all the information about business from the software.
                    Which will make the system easy to maintain with the reduction in cost and time.
                    The Forestry Management System will also contain the information of the customer
                    so that Admin can contact with them from
                    the system to make the communication between the Admin and the customer.
                </p>
            </li>
        </ul>
    </div>    
</nav>