<div class="alert alert-warning" *ngIf='message' (click)='deleteMessage()' >{{message}} </div>

<div class="container mt-4" style="margin-bottom: 265px;">
    <table class="col-md-6 offset-md-3 table table-bodered table-hover" style="margin-bottom: 70px;">
        <thead class="thead" style="background-color: #4f4141; color: white; font-size: 18px;">
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Product Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let singleProduct of products'>
                <td >{{singleProduct.productId}}</td>
                <td>{{singleProduct.productName}}</td>
                <td>
                    <button class="btn btn-danger" (click)='deleteProduct(singleProduct)'>Delete</button>
                    <button class="btn  float-right" (click)='updateProduct(singleProduct)' style="background-color: #474b4f; color: white;">Update</button>
                </td>
            </tr>
            
        </tbody>
    </table>
  
  
  </div>

