<div class="col-md-4 offset-md-4 mt-4" >
   <form action="">
      <div class="form-group" style="margin-top: 90px;">
         <label for="text">User Name : </label>
         <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="User Name"
            required minlength="6" maxlength="15">
         <label for="text">Password : </label>
         <input type="password" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="Password"
            required>
      </div>
      <button class="btn btn-success float-right">Log In</button>
   </form>



</div>