



    <div id="div1">
        <img src="https://cdn.pixabay.com/photo/2019/12/05/21/07/snowman-4676142_960_720.jpg"  alt="...">
        <img src="https://cdn.pixabay.com/photo/2019/12/24/09/48/sunset-4716378_960_720.jpg"  alt="...">
      </div>
      <div>
        <img src="https://cdn.pixabay.com/photo/2019/12/29/15/42/sunrise-4727375_960_720.jpg"  alt="...">
        <img src="https://cdn.pixabay.com/photo/2019/12/26/09/13/glasses-4720011_960_720.jpg"  alt="...">
      </div>
      <div>
        <img src="https://cdn.pixabay.com/photo/2019/12/26/15/47/lake-4720672_960_720.jpg"  alt="...">
        <img src="https://cdn.pixabay.com/photo/2019/12/29/15/45/paragliding-4727377_960_720.jpg"  alt="...">
      </div>




