<nav class="navbar navbar-expand-sm navbar-light">
    <a id="navtag" class="navbar-brand" routerLink="/" style="font-family: cursive;">
        <img width="55px" height="55px" src="https://cdn.pixabay.com/photo/2016/01/20/10/40/root-1151254_960_720.png" alt="" srcset="">
        Forest<span  class="badge badge-success" >Management</span></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active" >
                <a class="nav-link" routerLink="/admin">Admin </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/client">Client </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/scheduler">Scheduler </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" style="margin-left: 475px;">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" style="margin-left:20px;">Login</a>
            </li>
        </ul>
    </div>
</nav>

