<nav class="navbar navbar-expand-sm navbar-light">
    <a id="navtag" class="navbar-brand" routerLink="/" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        <img style="margin-right: 5px;" width="55px" height="55px" src="https://cdn.pixabay.com/photo/2016/01/20/10/40/root-1151254_960_720.png" alt="" srcset="">
        ForestryManagement</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active" >
                <a class="nav-link" routerLink="/admin" *ngIf='isAdmin()' style="margin-left: 20px; font-size: 22px; padding-top: 12px;">Admin</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/client" *ngIf='isClient()' style="margin-left: 20px; font-size: 22px; padding-top: 12px;">Client </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/scheduler" *ngIf='isScheduler()' style="margin-left: 20px; font-size: 22px; padding-top: 12px;">Scheduler </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)='logout()' *ngIf='login()' style="margin-left: 690px; ">
                <button class="btn btn-danger" style="font-size: 18px;">  Logout  </button>   </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" *ngIf='!login()' style="margin-left:825px; ">
                  <button class="btn btn-success" style="font-size: 18px;"> Login </button>  </a>
            </li>
        </ul>
    </div>
</nav>

