<div class="alert alert-danger" *ngIf='msg'>{{msg}}</div>
<div class="alert alert-success" *ngIf='successmsg'>{{successmsg}}</div>
<div class="col-md-4 offset-md-4 mt-4" style="margin-bottom: 30px;">
    <img class="mb-4" style="margin-left:95px;" src="https://cdn.pixabay.com/photo/2016/03/22/04/23/map-1272165_960_720.png" alt="" width="185" height="125">
    <form  #adLandForm='ngForm' (ngSubmit)='addLand(adLandForm)'  class="form-signin"> 
        <h6 class="h3 mb-3 font-weight-normal">Add Land Details :</h6 >
        <label for="plotNumber">Plot Number : </label>
        <input type="text" name='plotNumber' #plotNumber='ngModel' ngModel id="plotNumber" class="form-control" placeholder="Plot Number" required>
        
        <label for="acquiredDate">Acquired Date : </label>
        <input type="date" name='acquiredDate' #acquiredDate='ngModel' ngModel id="acquiredDate" class="form-control" placeholder="Acquired Date">
        
        <label for="location">Location : </label>
        <input type="text" name='location' #location='ngModel' ngModel id="location" class="form-control" placeholder="Location">
        
        <label for="landValue">Land Value : </label>
        <input type="text" name='landValue' #landValue='ngModel' ngModel id="landValue" class="form-control" placeholder="Land Value" >
        
        <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Land Detail</button>
        
      </form>
</div>





